.App {
  /* padding: 30px;
  display: flex; */
}

.App > div {
  margin-right: 50px;
}

.task-done {
  opacity: 30%;
}

.task{
}

.btn-active{
  color: white;
  background-color: hotpink;
}

.input-error{
  border: 2px solid red;
  outline:none
}


.task-default{
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskBlock{
  /* margin: 0; */
  padding: 20px;
}