.App {
}

.App > div {
}

.task-done {
  opacity: 30%;
}

.task{
}

.btn-active{
  color: white;
  background-color: hotpink;
}

.input-error{
  border: 2px solid red;
  outline:none
}


.task-default{
  display: flex;
  align-items: center;
  gap: 10px;
}

.taskBlock{
  padding: 20px;
}

